# Virtual environment
.venv/
venv/
env/

# Database
db.sqlite3
*.sqlite3

# Environment variables
.env
*.env

# API test files
api_test.http
*.http

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd